{% extends "base.html" %} {% block title %} Bruksanvisning{% endblock %}


 {% block
content %}
<div class="img-bg general-bg blur"></div>
<div class="center-grid">
  <div class="horizontal-grid">
  <article class="privacy-article">
    <h1>Bruksanvisning</h1>
    <h2 id="1"> Bruksanvisning til nettsiden </h2>
    <p>
     Her kan lese om de forskjellige funksjonene nettsiden tilbyr og bruksanvisning til hvordan funksjonene brukes.
    </p>
      <h2 id="2">Hvordan registrere, slette og redigere bruker.</h2>
      <h2 id="3">Hvordan lage eller se dine grupper.</h2>
      <h2 id="4">Hvordan legge til eller kaste ut medlememer fra gruppen.</h2>
      <h2 id="5">Hvordan gi medlemmene i gruppen ulike rettigheter.</h2>
      <h2 id="6">Hvordan oprette Middag.</h2>
      <h2 id="7">Hvordan redigere/oppdatere og se endringer i oppskrifter.</h2>
      <h2 id="8"> Handleliste funksjoner.</h2>
      <p></p>

      <h2 id="9"> Hvordan registrere, slette og redigere bruker:</h2>
    <p>
        1. For å registrere bruker: Trykk på ‘Logg inn’ øverst på siden, så trykk på ‘Registrer deg her’ under den store ‘Logg inn’ knappen. Fyll ut boksene og trykk på den nederste boksen ‘Registrer’ når du er ferdig å fylle ut alle boksene.
        2. For å logge inn: Trykk på logg inn og fyll ut med din Email og passord

        For å kunne slette eller redigere brukeren må du først være logget inn, trykk på ‘Profil’ øverst på siden.
        Sletting av bruker:
        For å slette brukeren trykk på søppelkasse ikonet øverst i venstre hjørne over profilbildet ditt. Trykk så på ‘Ok’ dersom du er sikker på at du vil slette brukeren eller trykk på ‘Avbryt’ om du ikke vil slette brukeren.
        Redigere/oppdater bruker:
        For å redigere siden trykk på rediger ikonet øverst i høyre hjørne over profilbildet ditt. Fyll ut de boksene du vil redigere/oppdatere og trykk på den nederste boksen ‘Oppdater bruker’ når du er ferdig.
    </p>
    <h2 id="10">Hvordan lage eller se dine grupper:</h2>
    <p>
     For å kunne lage en gruppe må du først være innlogget, trykk på ‘Profil’ øverst på siden også trykk på ‘Opprett gruppe’, fyll ut gruppenavn og trykk på ‘Opprett’ rett under.

    Se alle gruppene du er medlem av:
    For å se dine private grupper og gruppene du er medlem i trykk på ‘Profil’
    Alle gruppene vil vises under på ‘Profil’ siden nederst under ‘Mine grupper’
    </p>
    <h2 id="11">Hvordan legge til eller kaste ut medlememer fra gruppen.</h2>
    <p>
        Du må rettigheter til en "Admind" eller en Moderator for å bruke disse funksjonene

        Legge til medlemmer i gruppen:
        For å legge til medlemmer velg gruppen du vil legge til nye medlemmer i også trykk på ‘Legg til medlemmer’ nederst på listen til høyre.

        Kaste ut medlemmer fra gruppen:
        For å kaste ut et medlem trykk på den lille ‘X’ på siden av medlemmet du vil kaste ut

        Hvordan gi medlemmene i gruppen ulike rettigheter:
        Trykk på neddragslisten med roller i, velg rollen du vil gi til medlemmet og trykk på lagre.
    </p>
    <h2 id="12">Middag funksjoner</h2>
    <p>
     Hvordan opprette middag i gruppen:
        For å opprette en middag trykk på ‘Opprett middag’ i gruppesiden, følg stegene nevnt og trykk på ‘neste’ etter hvert steg.
        Hvordan redigere/oppdatere oppskriften:
        For å kunne redigere/oppdater oppskrifter må du ha rettigheter til en ‘Admin’, ‘Moderator’ eller en ‘Kokk’.
        Redigere/oppdatere, vis endringer i oppskrifter
        Trykk på middagen som du vil redigere/oppdatere oppskriften til også trykk på ‘Endre oppskrift’
        Her kan du endre framgangsmåte, slette og legge til ingredienser.
        Trykker du på «Vis endringer i oppskrift» Vil du få opp endringer som er gjort.
    </p>
      <h2 id="13">Handleliste funksjoner</h2>
    <p>
     Handlelisten viser ukens ingredienser som skal brukes denne ukens middager satt for den spesifikke uken. Du kan også navigere til andre uker med å trykke på pilene på siden av uken.
        For å legge til eller fjerne middag eller ingredienser fra handlelista går du inn på kalender og kan legger til, fjerne middager eller antall porsjoner for den spesifikke uka.
        Etter at du har lagt til middager og antall porsjoner for den uka og handlet det inn fra butikken så kan du gå inn på handleliste og legge sluttsummen på kassalappen og trykk på «Handlet».
        Dersom du har rettigheter til en «Admin» eller en «moderator» kan du trykke på angre kjøp for å markere handlelista som ikke fullført og deretter legge til ny pris.
    </p>
  </article>
</div>
</div>


{% endblock %}
