{% extends "base.html" %} {% block title %} Personvern{% endblock %}

  
 {% block
content %}
<div class="img-bg general-bg blur"></div>
<div class="center-grid">
  <div class="horizontal-grid">
  <article class="privacy-article">
    <h1>Personvern</h1>
    <h2 id="1">1. Personvernsrapport </h2>
    <p>
     Hos MatMons bryr vi oss om personvernet til de som bruker nettstedet vårt.
        Vi har laget denne personvernerklæringen for å forklare hvordan vi, som behandlingsansvarlige,
        samler inn, lagrer og bruker personopplysningene dine, og rettighetene du har som bruker av nettsiden vår.
    </p>
    <h2 id="2">2. Personopplysningers behandling, og hvorfor</h2>
    <p>
        Som en del av driften av tjenestene våre kan vi be om å samle inn og lagre personlig informasjon som brukernavn, oppskrifter, e-postadresser og handleliste ettersom de er tjenesterelaterte.

        Personopplysninger behandles utelukkende med det formål å administrere tjenestene vi leverer og utføre de oppgavene brukeren ønsker. Informasjonen vil ikke bli brukt eller utlevert til andre formål, inkludert markedsføring, med mindre du uttrykkelig har samtykket til dette, for eksempel i form av abonnement på nyhetsbrev eller tjenester, annen meldingstjeneste eller SMS. Du kan selv velge å trekke tilbake dette samtykket når som helst.

        Vi oppfordrer brukere av plattformen vår til ikke å legge inn eller dele personlig informasjon som navn, alder, kjønn, legning, religion, helse, etc. i kommentarfeltet, i samtale med oss eller noen andre plasser på nettsiden vår.
    </p>
    <h2 id="3">3. Tilgang og offentliggjøring av informasjon</h2>
    <p>
      Det er kun våre tekniske leverandører som har tilgang til personlig identifiserbar informasjon lagret om deg og kun i den grad slik tilgang er nødvendig for utvikling og drift og vedlikehold av tjenesten. Informasjon utleveres ikke til tredjeparter, bortsett fra underleverandører som bistår oss med å utføre tjenestene.
    </p>
    <h2 id="4">4. Informasjon og tilgang</h2>
    <p>
      Som bruker av nettsiden vår har du rett til innsyn i personopplysningene vi behandler om deg. Videre har du rett til å korrigere ufullstendige eller unøyaktige opplysninger og/eller slette dem.
    </p>
    <h2 id="5">5. Kontakt</h2>
    <p>
      Dersom du ønsker tilgang til eller har spørsmål angående denne personvernerklæringen, kan du sende disse spørsmålene til vår e-post Kontakt@Matmons.no
Lær mer om personvernloven og dine rettigheter fra Datatilsynet.
    </p>
  </article>
</div>
</div>


{% endblock %}
