@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #cce4e9;

  list-style: none;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #23a1a5;
  font-family: "Poppins", sans-serif;
}
.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  color: rgb(266, 266, 266);
  background-color: #23a1a5;
  letter-spacing: 2px;
  position: absolute;
  left: 10px;
}

nav .logo p {
  float: left;
  background-color: #23a1a5;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  background-color: #23a1a5;
}

.nav-links li {
  list-style: none;
  background-color: #23a1a5;
}
.nav-links a {
  color: rgb(266, 266, 266);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  background-color: #23a1a5;
}

.nav-links li a:hover {
  color: #0088a9;
}
.login {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login h1 {
  color: #2ecc71;
  text-transform: uppercase;
  font-weight: 500;
}
.login input[type="submit"] {
  border: 0;
  background: #2ecc71;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.login input[type="submit"]:hover {
  background: #23a1a5;
}

.login input[type="text"]:hover {
  background: #2ecc71;
}

.login input[type="password"]:hover {
  background: #2ecc71;
}

.login input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.login input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.login input[type="text"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.login input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.register {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.register h1 {
  color: #2ecc71;
  text-transform: uppercase;
  font-weight: 500;
}
.register input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.register input[type="submit"]:hover {
  background: #2ecc71;
}

.register input[type="text"]:hover {
  background: #2ecc71;
}

.register input[type="password"]:hover {
  background: #2ecc71;
}

.register input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.register input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.register input[type="text"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.register input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

#notification-is-danger-register {
  color: #cc2e50;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

#notification-is-danger-login {
  color: #cc2e50;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

div.dinnerdiv {
  background-color: #23a1a5;
  height: 300px;
  width: 300px;
  border: 1px solid #000000;
  float: left;
  position: relative;
  left: 50px;
  top: 30px;
  flex: 1;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

div.dinnerdiv1 {
  background-color: #23a1a5;
  height: 300px;
  width: 300px;
  border: 1px solid #000000;
  float: left;
  position: relative;
  left: 50px;
  top: 120px;
  flex: 1;
}

div.dinnerdiv:hover {
  background-color: #55d6aa;
  flex: 2;
}

div.dinnerdiv1:hover {
  background-color: #55d6aa;
  flex: 2;
}

#grouploop {
  height: 300px;
  width: 300px;
  border: 0;
  float: left;
  position: relative;
  left: 50px;
  top: 30px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
}

#roleloop {
  height: 300px;
  width: 300px;
  border: 0;
  float: left;
  position: relative;
  left: 50px;
  top: 30px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
}

#ingredient {
  height: 300px;
  width: 300px;
  border: 0;
  float: left;
  position: relative;
  left: 50px;
  top: 30px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
}

.ingredient__cell {
  border: 1px solid #775a5a;
  text-align: left;
  padding: 8px;
  background-color: #3498db;
}

.ingredient__table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 8px;
  background-color: #3498db;
}
.ingredient__register {
  border: 2px solid #775a5a;
  text-align: left;
  padding: 8px;
  background-color: antiquewhite;

  color: #000000;
}

.ingredient__submit[type="submit"] {
  background: #2ecc71;
}
/* Mikal Sin */

.calendar__h1 {
  text-align: center;
}

.calendar__h2 {
  text-align: center;
}
.calendar__day {
  text-align: center;
  display: inline-block;
  background: cadetblue;
  width: 200px;
  height: 275px;
  border-style: solid;
}

.calendar__button[type="submit"] {
  color: white;
}

/*Magnus Sin*/

textarea.recipeArea1 {
  width: 75%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  width: 50%;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dropdownIngredient {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  width: 50%;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
dropdownIngredientlabel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20px;
}

.button5:hover {
  background-color: #555555;
  color: white;
  width: 50%;
  height: 20px;
}
.divmid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #23a1a5;
  color: white;
}

/*Maga sin*/

.btn-group button {
  background-color: #04aa6d; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 10%;
  display: block; /* Make the buttons appear below each other */
  margin: 20px auto;
  border-radius: 24px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
  width: 10.5%;
}

/*Jonnis sin*/

.login input[type="number"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

#grouploop {
  height: 300px;
  width: 300px;
  border: 0;
  float: left;
  position: relative;
  left: 50px;
  top: 30px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
}

.update {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#grouploop .update {
  position: relative;
}

.update h1 {
  color: #2ecc71;
  text-transform: uppercase;
  font-weight: 500;
}
.update input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.update input[type="submit"]:hover {
  background: #2ecc71;
}

.update input[type="text"]:hover {
  background: #2ecc71;
}

.update input[type="password"]:hover {
  background: #2ecc71;
}

.update input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.update input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.update input[type="text"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.update input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

/*--------------------- AUGUST SIN CSS ---------------------*/

:root {
  --clr-primary-400: 263 55% 52%;
  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 219 29% 14%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


h1,
h2,
h3 {
  font-weight: var(--fw-700);
}

/* utilities */
.flex {
  display: flex;
  padding: 0 0;
  margin: 0 0;
  gap: var(--gap, 1rem);
}

#flex-test {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}



.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.bg-primary-400 {
  background: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: #d8eaef;
}

.text-neutral-100 {
  color: #000000;
}
.text-secondary-400 {
  color: #000000;
}
.border-primary-400 {
  border: 2px solid #58ea7b;
}

/* components */
.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
   'one'
   'two'
   'three'
   'four'
   'five';

  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

#testimonial-grid-dinners {
  width: min(20%, 70rem);
}

.testimonial {
  font-size: var(--fs-400);
  padding: .1rem .1rem;
  border-radius: 0.5rem;
  box-shadow: 1.5rem 2.75rem 2rem -2rem hsl(var(--clr-secondary-400) / 0.25);
}

#testimonial-test {
  background: #ecfbff;
  border: solid white;
}



.testimonial:nth-child(1) {
  grid-area: one;
}
.testimonial:nth-child(2) {
  grid-area: two;
}
.testimonial:nth-child(3) {
  grid-area: three;
}
.testimonial:nth-child(4) {
  grid-area: four;
}
.testimonial:nth-child(5) {
  grid-area: five;
}

@media screen and (min-width: 33em) {
  .testimonial-grid {
      grid-template-areas:
      "one one"
      "two two"
      "four three"
      "five five";
  }
}

@media screen and (min-width: 38em) {
  .testimonial-grid {
    grid-template-areas:
     'one one'
     'two two'
     'four three'
     'five five';
  }
}

@media screen and (min-width: 54em) {
  .testimonial-grid {
      grid-template-areas:
      "one one one"
      "five two two"
      "four three three";
  }
}

@media screen and (min-width: 75em) {
  .testimonial-grid {
      grid-template-areas:
      "one one one"
      "five two two"
      "four three three";
  }
}

div.outer {
    overflow: visible;
}
div.inner {
    display: inline-block;
    position:relative;
  margin-right: auto;
  margin-left: auto;
}
div.inner img {
    position: relative;
    border: solid white;
    border-radius: .5%;
    /*left:-50%;*/
}

.testimonial .name {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1;
}

.testimonial .position {
  font-size: var(--fs-300);
  opacity: 0.5;
}

.testimonial > p:first-of-type {
  font-size: var(--fs-500);
  line-height: 2.5;
  margin-top: 1rem;
}

.testimonial > p:last-of-type {
  opacity: 0.7;
}

#flex-test {
  margin: 0 0;
  padding: 0 0;
}

.approach {
  line-height: 2.5;
  font-size: large;
  margin: 2rem 2rem;
  text-align: left;
}

#ingredient-line-height {
  line-height: 1.5;
}

h2.headline {
    border-bottom:1px solid white;
    float:left;
    width:100%;
    padding-bottom:1rem;
}






.center_div {
  margin: 30px;
  outline: dashed 1px black;
}

.main_image {
  border-radius: 10px;
  max-height:1000px;
  max-width:1200px;
  width: auto;
  height: auto;
  margin: 0 auto;
}


.main_title {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: #ecfbff;
}
#title-bg-white {
  height: 8vh;
  background-color: white;
}

.dinner-bg-color {
  background-color: #ecfbff;
}

.left {
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  border: dashed 1px black;
}

.right {
  float: right;
  width: 80%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  border: dashed 1px black;
}

#ingredients {
  margin-top: 15px;
  float: bottom;
}

#approach {
  margin-top: 2rem;
  padding-top: 2rem;

}

#portions {
  margin-top: 15px;
  float: top;

}

#buttons {
  margin-top: 15px;
  float: top;

}

.portion_button {
  padding: 15px;
  margin: 15px 15px 30px 15px;
}


div.dinner img {
  display: block;
  max-height:1000px;
  max-width:1000px;
  width: auto;
  height: auto;
}

.fas,
.far {
  padding-right: 5px;

}

.button-three {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #ecfbff;
  cursor: pointer;
}

.button-three:hover {
  background-color: #cce4e9;
}

.button-three:active {
  background-color: #bef5ff;
  color: black;
}


.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 25%);

  padding-block: 3rem;
  width: min(95%, 70rem);
  margin-inline: auto;

}

.grid-column {
  color: black;
  overflow: hidden;
  font-size: .6vw;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 1.5rem 2.75rem 2rem -2rem hsl(var(--clr-secondary-400) / 0.25);
}


/*Muhmad sin- Rapport*/
.login input[type="date"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: rgb(14, 13, 13);
  border-radius: 24px;
  transition: 0.25s;
  font-weight: bold;
  font-size: 15px;
}

.update input[type="date"]:hover {
  background: #2ecc71;
}

.report-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.report-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.report-table th,
.report-table td {
  padding: 12px 15px;
}

.report-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.report-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.report-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.report-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
