{% extends "base.html" %} {% block head %} {% endblock %} {% block title %}
Recipe {% endblock %} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div
  class="notification-is-danger-register"
  id="notification-is-danger-register"
></div>
{% endfor %} {% endif %} {% endwith %}
<h1>Legg til ingredienser til oppskriften steg 2/2</h1>
<table id="customers">
  <tr>
    <th>Ingredienser i denne oppskriften</th>
    <th>Mengde</th>
    <th>Enhet</th>
    <th>Fjern fra oppskrift</th>
  </tr>
  {% for i in range(0,(len)) %}
  <tr>
    <td>{{ ingredients[i].name }}</td>
    <td>{{ amount[i].amount}}</td>
    <td>{{ measurements_recipe[i].name }}</td>
    <td>
      <form
        action="{{ url_for('recipe_route.remove_ingredient', ingredient_name=ingredients[i].name)}}"
        method="post"
      >
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>

  {% endfor %}
</table>
<table id="customers">
  <tr>
    <th>Legg til en til ingrediens</th>
  </tr>
  <form method="post">
    <tr>
      <td>
        <input
          type="text"
          name="ingredient"
          class="dropdownIngredient"
          placeholder="Ingrediens-navn"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          type="number"
          name="amount"
          class="dropdownIngredient"
          placeholder="mengde"
        />
      </td>
    </tr>
    <tr>
      <td>
        <select class="dropdownIngredient" name="unit">
          {% for measurement in measurements %}
          <option>{{ measurement.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input class="button button5" type="submit" name="" value="Legg til" />
      </td>
    </tr>
  </form>
</table>
<table id="customers">
  <tr>
    <th>Gå videre</th>
  </tr>
  <tr>
    <td>
      <a href="{{ url_for('recipe_route.createRecipe', dinner_id=dinner_id)}}"
        ><button class="button button5">Videre</button></a
      >
    </td>
  </tr>
</table>
{% endblock %}
