<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css')}}" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair Display"
      rel="stylesheet"
      <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <script src="/static/js/nav.js" defer></script>
    <script src="/static/js/flash.js" defer></script>
    <script src="/static/js/showGroup.js" defer></script>
    <script src="/static/js/portions.js" defer></script>
  </head>

  <body>
    <header class="primary-header flex">
      <h1 class="logo">
        <a href="{{ url_for('usersroute.home') }}">Mat Mons</a>
      </h1>

      <button
        class="mobile-nav-toggle"
        aria-controls="primary-navigation"
        aria-expanded="false"
      >
        <span class="sr-only"></span>
      </button>

      <nav>
        <ul
          id="primary-navigation"
          data-visible="false"
          class="primary-navigation flex"
        >
          <li class="active">
            <a href="{{ url_for('calendarroute.show_calendar', group_id = 1) }}">
              <span><i class="uil uil-restaurant"></i></span>Restaurant
            </a>
          </li>
          {% if current_user.is_authenticated %}
          <li>
            
            <a href="{{ url_for('usersroute.profile') }}">
              <span><i class="uil uil-user"></i></span>Profil
            </a>
            </li>
            <li>
              <a href="{{ url_for('usersroute.logout') }}">
                <span><i class="uil uil-user"></i></span>Logg ut
              </a>

            </li>
            {% else %}
            <li>
            <a href="{{ url_for('usersroute.login') }}">
              <span><i class="uil uil-user"></i></span>Logg inn
            </a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>

    <div id="content">{% block content %} {% endblock %}</div>

    <footer class="primary-footer flex">
      <h3 class="logo">Scrumdog Millionaires</h3>
      <nav>
        <ul class="footer-navigation flex">
          <li>
            <a href="{{ url_for('usersroute.home') }}"
              ><span><i class="uil uil-home"></i></span>Hjem</a
            >
          </li>
          <li>
            <a href="/templates/info/about.html"
              ><span><i class="uil uil-info-circle"></i></span>Om Mat Mons</a
            >
          </li>
          <li>
            <a href="{{ url_for('usersroute.privacy') }}"
              ><span><i class="uil uil-keyhole-circle"></i></span>Personvern</a
            >
          </li>
          <li>
            <a href="{{ url_for('usersroute.terms_of_use') }}"
              ><span><i class="uil uil-clipboard-notes"></i></span>Vilkår for
              bruk</a
            >
          </li>
            <li>
            <a href="{{ url_for('usersroute.instructions_for_use') }}"
              ><span><i class="uil uil-clipboard-notes"></i></span>Bruksanvisning</a
            >
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
