<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Middagsplanleggeren</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <p>{% block title %}{% endblock %}</p>
      </div>
      <ul class="nav-links">
        <li><a href="{{ url_for('usersroute.profile') }}">Hjem</a></li>
        <li>
          <a href="{{ url_for('calendarroute.show_calendar') }}">Kalender</a>
        </li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('grouproute.groups') }}">Mine Grupper</a></li>
        {% endif %} {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('usersroute.profile') }}">Profile</a></li>
        {% endif %} {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('usersroute.register') }}">Registrering</a></li>
        <li><a href="{{ url_for('usersroute.login') }}">Logg inn</a></li>
        {% endif %} {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('usersroute.logout') }}">Logg ut</a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="hero-body">
      <div>{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
