{% extends "base.html" %} {% block content %}
    {% if group_id %}
        <h1 class="calendar__h1">Gruppe {{ group_id }}'s Kalender</h1>
        {% else %}
        <h1 class="calendar__h1">Restauranten's Kalender</h1>
    {% endif %}
<h2 class="calendar__h2">{{ month_name }} {{ year }}</h2>
<h2 class="calendar__h2">
<!--<div>
    <img src="data:;base64,{{ image }}"/>
</div>-->
  <form class="calendar__form" method="POST">
    <button
      class="calendar__button"
      type="submit"
      name="prev_month"
      value="{{  [year, month - 1]  }}"
    >
      Forrige måned
    </button>
    <button
      class="calendar__button"
      type="submit"
      name="next_month"
      value="{{  [year, month + 1]  }}"
    >
      Neste måned
    </button>
  </form>
</h2>
<div class="calendar__day__container">
  {% for day in full_month %}
  <div class="calendar__day">
    {{ day.day }}<br />{{ days_of_week.get(day.strftime("%A")) }}<br />
      {% if dinners[day.day - 1] %}
          {{ dinners[day.day - 1][0] }}<br>
                <form class="calendar__form" method="POST">
                    <button
                    class="calendar__button"
                    type="submit"
                    name="delete_meal"
                    value="{{ [meals[day.day - 1][0].id, year, month] }}"
                    >
                    Slett
                    </button>
                </form>
              <img class="calendar__day__image" src="data:;base64,{{ dinners[day.day - 1][1] }}"/>
      {% else %}
          <form class="calendar__form" action="{{ url_for('calendarroute.create_meal') }}" method="POST">
            <button
            class="calendar__button"
            type="submit"
            name="add_dinner"
            value="{{ [year, month, day.day, group_id] }}"
            >
            Legg til
            </button>
            </form>
      {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}
