{% extends "base.html" %} {% block title %} Grupper {% endblock %}
{% block content %}
<form class="register" method="POST">
    <h1>Oprett gruppe</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification-is-danger-register" id="notification-is-danger-register">
        {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}
    <input type="text" name="group_name" placeholder="Gruppenavn" required>
    <input type="submit" name="" value="Opprett">
</form>
{% endblock %}