{% extends "base.html" %}

{% block content %}
  <h1 class="createDinner__content"> Opprett ny middag</h1>
    <form class="createDinner__content" method="POST" enctype="multipart/form-data">
        Tittel:<br>
        <input type="text" name="dinner_title" required><br>
        <!--Gruppe ID:<br>-->
        <input type="hidden" name="group_id" value="{{ group_id }}" readonly><br>
        Bilde:<br>
        <input type="file" name="dinner_image" accept="image/*"><br>
        <br>
        <br>
        <button
            class="calendar__button"
            type="submit">Legg til
        </button>
    </form>
{% endblock %}