{% extends "base.html" %}

{% block content %}
  <h1>Velg middag for {{ inc_day }}.{{ inc_month }}.{{ inc_year }} </h1>
    {% for dinner in dinners %}
        <div class="calendar__day">
                <form class="calendar__form" method="POST">
                    <button
                        class="calendar__button"
                        type="submit"
                        name="choose_dinner"
                        value="{{ [dinner[0], inc_year, inc_month, inc_day, group_id] }}"
                        >
                        Velg
                    </button>
                </form>
            {{ dinner[1] }}<br>
            <img class="calendar__day__image" src="data:;base64,{{ dinner[2] }}"/>
        </div>
    {% endfor %}
{% endblock %}