{% extends "base.html" %} {% block content %}





<div class="grid-container">
    {% for dinner in dinners %}
        <a href="{{ url_for('calendarroute.show_dinner', dinner_id=dinner.id, group_id=group_id) }}">
        <div class="grid-column">
    <div>
        <img src="data:;base64,{{ decode_image(dinner.image) }}"/>
    </div>
            <div>
    <div>
        <h2 class="main_title" id="title-bg-white">{{ dinner.title }}</h2>
    </div>
            </div>
            </div>
        </a>
{% endfor %}
</div>


{% endblock %}



{#<div class="dinnerdiv">test</div>
<div class="dinnerdiv">test</div>
<div class="dinnerdiv">test</div>
<div class="dinnerdiv">test</div>
<div class="dinnerdiv">test</div>

<div class="dinnerdiv1">test</div>
<div class="dinnerdiv1">test</div>
<div class="dinnerdiv1">test</div>
<div class="dinnerdiv1">test</div>
<div class="dinnerdiv1">test</div>
<div class="dinnerdiv1">test</div>#}