<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til middagsplanlegger</title>
</head>
<body>
    <h1>Velkommen til middagsopprettings -template</h1>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.dinnerName.label }}<br>
        {{ form.dinnerName }}<br>
        {{ form.mp_day.label }}<br>
        {{ form.mp_day }}<br>
        {{ form.image.label }}<br>
        {{ form.image }}<br>
        {{ form.submit }}
    </form>
    <div>
        {% if form.image.errors %}
            {% for error in form.image.errors %}
                <span class="text-danger"> {{ error }} </span><br>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>