{% extends "base.html" %} {% block content %}
        <div id="grouploop" xmlns="http://www.w3.org/1999/html">
      {% for member in members %}
          <form class="update" action="{{ url_for('grouproute.member_list_post', group_id=group.id) }}" method="POST">
            {% with messages = get_flashed_messages() %} {% if messages %}
                <div
                 class="notification-is-danger-register"
                 id="notification-is-danger-register">
                    {{ messages[0] }}
                </div>
            {% endif %} {% endwith %}
              <h1 class="test">{{ member.email }}</h1>
              <input type="radio" name="member_role" value="1">Admin</input>
              <input type="radio" name="member_role" value="2">Moderator</input>
              <input type="radio" name="member_role" value="3">Kokk</input>
              <input type="radio" name="member_role" value="4">Gjest</input>
              <input type="hidden" name="member_id" value="{{ member.id }}">
              <input type="submit" value="Lagre"/>
          </form>
      {% endfor %}
        </div>
{% endblock %}