{% extends "base.html" %} {% block content %}
<h1 class="main_title">Handleliste</h1>
<h2 class="main_title">Uke: {{ week_number }}</h2>
<form class="calendar__form" method="POST">
  <button
    class="button-three"
    type="submit"
    name="prev_week"
    value="{{ subtract_days(new_date) }}"
  >
    Forrige uke
  </button>
  <button
    class="button-three"
    type="submit"
    name="next_week"
    value="{{ add_days(new_date) }}"
  >
    Neste uke
  </button>
</form>
<table class="report-table">
  <tr class="active-row">
    {% for header in headings %}
    <th>{{header}}</th>
    {% endfor %}
  </tr>
  {% for row in data %}
  <tr class="active-row">
    {% for cell in row %}
    <td>{{ cell }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<form method="POST">
    <input type="number" name="price" placeholder="pris" required>
    <input type="submit" name="complete" value="complete" />
</form>
{% endblock %}