{% extends "Base.html" %}
{% block title %} Bruker {% endblock %}

{% block head %}
{% endblock %}
{% block content %}
    <h1>Registrer en ny bruker</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.email.label }}
        {{ form.email }}<br>
        {{ form.first_name.label }}
        {{ form.first_name }}<br>
        {{ form.surname.label }}
        {{ form.surname }}<br>
        {{ form.submit.label }}
        {{ form.submit }}
    </form>
{% endblock %}